<div class="container-fluid px-0">

  <div class="card shadow-sm px-4 border-0 pb-2 pt-3" style="border-radius: 12px;">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
        <label for="reportFilter" class="form-label fw-medium mb-0">Duration</label>
        <select class="form-select" [(ngModel)]="selectedFilter" (ngModelChange)="datefilterchange($event)">
          <option value="Month">This Month</option>
          <option value="Quarter">This Quarter</option>
          <option value="Financial Year">This Financial Year</option>
          <option value="Custom">Custom</option>
        </select>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" *ngIf="displayDateInputs">
        <label for="startDate" class="form-label fw-medium mb-0">Start Date</label>
        <input type="date" id="startDate" class="form-control" [(ngModel)]="startdate_val">
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" *ngIf="displayDateInputs">
        <label for="endDate" class="form-label fw-medium mb-0">End Date</label>
        <input type="date" id="endDate" class="form-control" [(ngModel)]="enddate_val">
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
        <label for="enquiry" class="form-label fw-medium mb-0">Source</label>
        <select class="form-select" [(ngModel)]="selectSource" (change)="onSourceChange()">
          <option value="">All</option>
          <option *ngFor="let source of sourceList" [value]="source">
            {{ source }}
          </option>
        </select>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
        <label class="form-label fw-medium mb-0">Sub Source</label>
        <select class="form-select"
                [(ngModel)]="selectSubSource">
          <option value="">All</option>
          <option *ngFor="let sub of subSourceList" [value]="sub">
            {{ sub }}
          </option>
        </select>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" *ngIf="showSH">
        <label for="am" class="form-label fw-medium mb-0">State Head</label>
        <select class="form-select" [(ngModel)]="selectedSH" (change)="onStateChange(selectedSH)">
          <option *ngFor="let am of stateHead" [value]="am.Mail">{{ am.Name }}</option>
        </select>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" *ngIf="showAM">
        <label for="am" class="form-label fw-medium mb-0">Area Manager</label>
        <select class="form-select" [(ngModel)]="selectedAM" (change)="onAreaChange(selectedAM)">
          <option *ngFor="let am of areaManagersList" [value]="am.Mail">{{ am.Name }}</option>
        </select>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" *ngIf="showTM">
        <label for="tm" class="form-label fw-medium mb-0">Territory Manager</label>
        <select class="form-select" [(ngModel)]="selectedTM" (change)="onTerritoryChange(selectedTM)">
          <option *ngFor="let tm of territoryManagersList" [value]="tm.Mail">{{ tm.Name }}</option>
        </select>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" *ngIf="showStatename">
        <label for="StateName" class="form-label fw-medium mb-0">State Name</label>
        <select class="form-select" [(ngModel)]="selectedStateName" (change)="onStateNameChange(selectedStateName)">
          <option *ngFor="let state of statelist" [value]="state.Mail">{{ state.Name }}</option>
        </select>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" *ngIf="showLocation">
        <label for="location" class="form-label fw-medium mb-0">Location</label>
        <select class="form-select" [(ngModel)]="selectedLocation">
          <option *ngFor="let location of locationlist" [value]="location.Mail">{{ location.Name }}</option>
        </select>
      </div>


      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3 align-self-end">
        <div class="d-flex gap-2">
          <button class="btn custom-btn flex-fill py-2"
                  (click)="onShowReport()">
            <i class="bi bi-clipboard-data me-1"></i> Show Report
          </button>

          <button class="btn text-white export-btn" style="background-color: #4796BD; padding: 2px 14px;font-size:14px"
                  (click)="exportToExcel()">
            <i class="fas fa-download"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="row mt-3" *ngFor="let i of enquiryBox">
      <div class="col-lg-4 col-sm-6 mb-3" (click)="onBussinessClick('EnquiryBaseTillThisPeriod')">
        <div class="text-white d-flex align-items-center justify-content-between py-2 px-4"
             [ngClass]="{'active-box': activeLead === 'EnquiryBaseTillThisPeriod'}"
             style=" border-radius: 10px; border: 1px solid #4796BD;cursor:pointer">
          <div>
            <div class="mb-1 fw-medium" style="color: #4796BD; font-size: 15px">Opening Enquiry</div>
            <h6 class="text-dark fw-normal" style="font-size: 14px">{{i.EnquiryBaseTillThisPeriod}}</h6>
          </div>

          <div style="background: white; border-radius: 50%; padding: 6px; ">
            <img src="assets/images/period.png" alt="sales" width="30" height="30" />
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-3" (click)="onBussinessClick('TotalOpenEnquiry')">
        <div class="text-white d-flex align-items-center justify-content-between py-2 px-4"
             [ngClass]="{'active-box': activeLead === 'TotalOpenEnquiry'}"
             style="border-radius: 10px; border: 1px solid #4796BD; cursor:pointer">
          <div>
            <div class="mb-1 fw-medium" style="color: #4796BD; font-size: 15px">Total Open Enquiry</div>
            <h6 class="text-dark fw-normal" style="font-size: 14px"> {{ (i.EnquiryBaseTillThisPeriod || 0) + (i.CurrentOpenEnquiry || 0) }}</h6>
          </div>
          <div style="background: white; border-radius: 50%; padding: 8px 10px;">
            <i class="fa-solid fa-folder-open" style="color: #4796BD; font-size: 22px;"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-3" (click)="onBussinessClick('EnquiryGeneratedInThisPeriod')">
        <div class="text-white d-flex align-items-center justify-content-between py-2 px-4"
             [ngClass]="{'active-box': activeLead === 'EnquiryGeneratedInThisPeriod'}"
             style=" border-radius: 10px; border: 1px solid #4796BD; cursor: pointer">
          <div>
            <div class="mb-1 fw-medium" style="color: #4796BD;font-size:15px">Enquiry Generated</div>
            <h6 class="text-dark fw-normal" style="font-size: 14px">{{i.EnquiryGeneratedInThisPeriod}}</h6>
          </div>
          <div style="background: white; border-radius: 50%; padding: 6px; ">
            <img src="assets/images/generated.png" alt="sales" width="30" height="30" />
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" (click)="onBussinessClick('CurrentOpenEnquiry')">
        <div class="text-white d-flex align-items-center justify-content-between"
             [ngClass]="{'active-box': activeLead === 'CurrentOpenEnquiry'}"
             style="border-radius: 14px; border: 1px solid #2E8FC4 !important; cursor: pointer; padding: 8px 16px;">
          <div>
            <p class="mb-1 fw-normal" style="font-size: 14px; color: #2E8FC4">Current Open Enquiry</p>
            <h6 class="fw-normal mb-0" style="font-size: 13px; color: #212529">{{i.CurrentOpenEnquiry}}</h6>
          </div>
          <div style="background: #4796BD; border-radius: 50%; padding: 6px; ">
            <img src="assets/images/Total Sales.png" alt="sales" width="28" height="28" />
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" (click)="onBussinessClick('TotalHotEnquiry')">
        <div class="card text-white border-0 shadow-sm"
             [ngClass]="{'active-hot': activeLead === 'TotalHotEnquiry'}"
             style="border-radius: 14px; border: 1px solid #E45E2E !important; cursor: pointer">
          <div class="card-body d-flex align-items-center justify-content-between py-2">
            <div>
              <p class="mb-0" style="font-size: 14px; color: #E45E2E; font-weight: 500">Hot Leads</p>
              <p class="text-dark mb-0" style="font-size:13px">{{i.TotalHotEnquiry}}</p>
            </div>
            <div style="background: white; border-radius: 50%; padding: 6px;">
              <img src="assets/images/HotLeads.png" alt="ticket" class="menu-icon" width="32" height="32" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" (click)="onBussinessClick('TotalWarmEnquiry')">
        <div class="card text-white border-0 shadow-sm"
             [ngClass]="{'active-warm': activeLead === 'TotalWarmEnquiry'}"
             style="border-radius: 14px; border: 1px solid #D59D3E !important; cursor: pointer">
          <div class="card-body d-flex align-items-center justify-content-between py-2">
            <div>
              <p class="mb-0" style="font-size: 14px; color: #D59D3E; font-weight: 500">Warm Leads</p>
              <p class="text-dark mb-0" style="font-size:13px">{{i.TotalWarmEnquiry}}</p>
            </div>
            <div style="background: white; border-radius: 50%; padding: 6px;">
              <img src="assets/images/ColdLeads.png" alt="ticket" class="menu-icon" width="28" height="28" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" (click)="onBussinessClick('TotalColdEnquiry')">
        <div class="card text-white border-0 shadow-sm"
             [ngClass]="{'active-box': activeLead === 'TotalColdEnquiry'}"
             style="border-radius: 14px; border: 1px solid #2E8FC4 !important; cursor: pointer">
          <div class="card-body d-flex align-items-center justify-content-between py-2">
            <div>
              <p class="mb-0" style="font-size: 14px; color: #2E8FC4; font-weight: 500">Cold Leads</p>
              <p class="text-dark mb-0" style="font-size:13px">{{i.TotalColdEnquiry}}</p>
            </div>
            <div style="background: white; border-radius: 50%; padding: 6px;">
              <img src="assets/images/WarmLeads.png" alt="ticket" class="menu-icon" width="28" height="28" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" (click)="onBussinessClick('Booking')">
        <div class="card text-white border-0 shadow-sm"
             [ngClass]="{'active-box': activeLead === 'Booking'}"
             style="border-radius: 14px; border: 1px solid #2E8FC4 !important; cursor: pointer">
          <div class="card-body d-flex align-items-center justify-content-between py-2">
            <div>
              <p class="mb-0" style="font-size: 14px; color: #2E8FC4; font-weight: 500">Booking</p>
              <p class="text-dark mb-0" style="font-size:13px">{{i.TotalBookingEnquiry || 0 }}</p>
            </div>
            <div style="background: white; border-radius: 50%; padding: 6px;">
              <i class="fa-solid fa-calendar-check px-1" style="font-size:22px; color:#28A745;"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" (click)="onBussinessClick('Delivered')">
        <div class="card text-white border-0 shadow-sm"
             [ngClass]="{'active-box': activeLead === 'Delivered'}"
             style="border-radius: 14px; border: 1px solid #2E8FC4 !important; cursor: pointer">
          <div class="card-body d-flex align-items-center justify-content-between py-2">
            <div>
              <p class="mb-0" style="font-size: 14px; color: #2E8FC4; font-weight: 500">Delivered</p>
              <p class="text-dark mb-0" style="font-size:13px">{{i.Delivered}}</p>
            </div>
            <div style="background: white; border-radius: 50%; padding: 6px;">
              <img src="assets/images/Delivered.png" alt="ticket" class="menu-icon" width="28" height="28" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" (click)="onBussinessClick('CompetitionLost')">
        <div class="card text-white border-0 shadow-sm"
             [ngClass]="{'active-box': activeLead === 'CompetitionLost'}"
             style="border-radius: 14px; border: 1px solid #2E8FC4 !important; cursor: pointer">
          <div class="card-body d-flex align-items-center justify-content-between py-2">
            <div>
              <p class="mb-0" style="font-size: 14px; color: #2E8FC4; font-weight: 500">Sale Lost</p>
              <p class="text-dark mb-0" style="font-size:13px">{{i.CompetitionLost}}</p>
            </div>
            <div style="background: white; border-radius: 50%; padding: 6px;">
              <img src="assets/images/CompetitionLost.png" alt="ticket" class="menu-icon" width="28" height="28" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 mb-3" (click)="onBussinessClick('Cancelled')">
        <div class="card text-white border-0 shadow-sm"
             [ngClass]="{'active-box': activeLead === 'Cancelled'}"
             style="border-radius: 14px; border: 1px solid #2E8FC4 !important; cursor: pointer">
          <div class="card-body d-flex align-items-center justify-content-between py-2">
            <div>
              <p class="mb-0" style="font-size: 14px; color: #2E8FC4; font-weight: 500">Dropped</p>
              <p class="text-dark mb-0" style="font-size:13px">{{i.Cancelled}}</p>
            </div>
            <div style="background: white; border-radius: 50%; padding: 6px;">
              <img src="assets/images/Cancelled.png" alt="ticket" class="menu-icon" width="26" height="26" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="enquiry-table-wrapper mt-3">
    <table id="enquiryTable" class="table table-bordered table-striped" style="min-width: 1800px; border-collapse: separate; border-spacing: 0;">
      <thead>
        <tr style="--bs-table-bg: #215378; --bs-table-color: white; font-size: 13px; text-align: center;">

          <!-- Fixed columns (no group) -->
          <th class="text-nowrap py-2 fw-normal" rowspan="2"
              style="border-top-left-radius: 8px; vertical-align: middle;
                 box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            S.No.
          </th>
          <th class="text-nowrap py-2 fw-normal" rowspan="2"
              style="vertical-align: middle; box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            State Name
          </th>
          <th *ngIf="showSH" class="text-nowrap py-2 fw-normal" rowspan="2"
              style="vertical-align: middle; box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            SH Name
          </th>
          <th *ngIf="showAM" class="text-nowrap py-2 fw-normal" rowspan="2"
              style="vertical-align: middle; box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            AM Name
          </th>
          <th *ngIf="showTM" class="text-nowrap py-2 fw-normal" rowspan="2"
              style="vertical-align: middle; box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            TM Name
          </th>
          <th class="text-nowrap py-2 fw-normal" rowspan="2" style="vertical-align: middle; box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">SAP</th>
          <th class="text-nowrap py-2 fw-normal" rowspan="2" style="vertical-align: middle; box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">Dlr Name</th>
          <th class="text-nowrap py-2 fw-normal" rowspan="2" style="vertical-align: middle; box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">Dlr Loc</th>

          <!-- Prospect Group -->
          <th colspan="6" class="text-nowrap py-2 fw-normal text-center"
              style="background-color: #215378;
                 box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            Prospect Details
          </th>

          <!-- Enquiry Info Group -->
          <th colspan="6" class="text-nowrap py-2 fw-normal text-center"
              style="background-color: #215378;
                 box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            Enquiry Details
          </th>

          <!-- Booking Group -->
          <th colspan="2" class="text-nowrap py-2 fw-normal text-center" *ngIf="activeLead === 'Booking'"
              style="background-color: #215378;
                 box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            Booking Details
          </th>

          <!-- Salesman Group -->
          <th colspan="2" class="text-nowrap py-2 fw-normal text-center"
              style="background-color: #215378;
                 box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            Salesman
          </th>

          <th colspan="3" class="text-nowrap py-2 fw-normal text-center" *ngIf="activeLead !== 'Delivered' && activeLead !== 'CompetitionLost' && activeLead !== 'Cancelled'"
              style="background-color: #215378;box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            Follow-up
          </th>

          <!--Delivery-->
          <th colspan="2" class="text-nowrap py-2 fw-normal text-center" *ngIf="activeLead === 'Delivered'"
              style="background-color: #215378;box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            Delivery Details
          </th>

          <!-- Exchange Group -->
          <th colspan="6" class="text-nowrap py-2 fw-normal text-center" *ngIf="activeLead === 'Delivered'"
              style="background-color: #215378;
                 box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            Exchange Details
          </th>

          <!-- Finance Group -->
          <th colspan="10" class="text-nowrap py-2 fw-normal text-center" *ngIf="activeLead === 'Delivered'"
              style="background-color: #215378;
                 box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            Payment Details
          </th>

          <th class="text-nowrap py-2 fw-normal" rowspan="2" style="vertical-align: middle; box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'CompetitionLost'">Sale Lost Reason</th>

          <th class="text-nowrap py-2 fw-normal" rowspan="2" style="vertical-align: middle; box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Cancelled'">Dropped Reason</th>

          <!-- Retail Group -->
          <th colspan="2" class="text-nowrap py-2 fw-normal text-center"
              style="background-color: #215378; box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">
            Retail Details
          </th>
          <th class="text-nowrap py-2 fw-normal" rowspan="2" style="vertical-align: middle; box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Return Status</th>

          <!-- Interest Group -->
          <th colspan="2" class="text-nowrap py-2 fw-normal text-center"
              style="background-color: #215378; border-top-right-radius: 8px; box-shadow: inset 0 1px 0 #1a4a65, inset 0 -1px 0 #1a4a65;">
            Interest
          </th>

        </tr>

        <!-- ==================== ROW 2: SUB HEADERS ==================== -->
        <tr style="--bs-table-bg: #215378; --bs-table-color: white; font-size: 13px;">

          <!-- Prospect Sub-headers -->
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Name</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Mobile</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">District</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Tehsil</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Village</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">PinCode</th>

          <!-- Enquiry Info Sub-headers -->
          <!--<th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Number</th>-->
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Generated By</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Source</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Sub-Source</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Type</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Date</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Status</th>

          <!-- Booking Sub-headers -->
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Booking'">Date</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Booking'">Amount</th>

          <!-- Salesman Sub-headers -->
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Name</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Mobile</th>

          <!-- Follow-up Sub-headers -->
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead !== 'Delivered' && activeLead !== 'CompetitionLost' && activeLead !== 'Cancelled'">Next Followup Date</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead !== 'Delivered' && activeLead !== 'CompetitionLost' && activeLead !== 'Cancelled'">Call Status</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead !== 'Delivered' && activeLead !== 'CompetitionLost' && activeLead !== 'Cancelled'">Remarks</th>

          <!-- Delivery Sub-headers -->
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Date</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Prospect Type</th>

          <!-- Exchange Sub-headers -->
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Make</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Model</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Mfg Year</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Customer Ask-Exc Tr</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Mkt Value-Exc Tr</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Dealer Price Exc Tr</th>

          <!-- Finance Sub-headers -->
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Financer Name</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Finance Status</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Type</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">SP (On-Road)</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">DP Amt</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Due Amt</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Loan Amt</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Disburse Amt</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Additional Amt</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Loan Type</th>

          <!-- Retail Sub-headers -->
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Date</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Status</th>
          <!--<th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;" *ngIf="activeLead === 'Delivered'">Type</th>-->
          <!-- Interest Sub-headers -->
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Model</th>
          <th class="text-nowrap py-2 fw-normal" style="box-shadow: inset 0 -1px 0 #1a4a65;">Chassis Number</th>


        </tr>
      </thead>

      <tbody style="font-size: 13px;">
        <tr *ngFor="let item of paginatedEnquiryList; let i = index;">
          <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
          <td class="text-nowrap">{{item.StateName}}</td>
          <td *ngIf="showSH" class="text-nowrap">{{ item.StateHead ? item.StateHead : 'VACANT' }}</td>
          <td *ngIf="showAM" class="text-nowrap">{{ item.Am ? item.Am : 'VACANT' }}</td>
          <td *ngIf="showTM" class="text-nowrap">{{ item.Tm ? item.Tm : 'VACANT' }}</td>

          <!-- Dealer -->
          <td class="text-nowrap">{{ item.DealerCode ? item.DealerCode : 'VACANT' }}</td>
          <td class="text-nowrap">{{ item.DealerName ? item.DealerName : 'VACANT'  }}</td>
          <td class="text-nowrap">{{ item.City ? item.City : 'VACANT'  }}</td>

          <!-- Prospect -->
          <td class="text-nowrap">{{ item.ProspectName }}</td>
          <td class="text-nowrap">{{ item.ProspectMobile }}</td>

          <td class="text-nowrap">{{ item.ProspectDistrict }}</td>
          <td class="text-nowrap">{{ item.ProspectTehsil }}</td>
          <td class="text-nowrap">{{ item.ProspectVillage }}</td>
          <td class="text-nowrap">{{ item.ProspectPinCode }}</td>



          <!-- Enquiry -->
          <!--<td class="text-nowrap">{{ item.EnquiryNumber }}</td>-->
          <td class="text-nowrap">{{ item.EnquiryGeneratedBy }}</td>
          <td class="text-nowrap">{{ item.EnquirySource }}</td>
          <td class="text-nowrap">{{ item.EnquirySubSource }}</td>
          <td class="text-nowrap">{{ item.EnquiryStatus }}</td>
          <td class="text-nowrap">{{ item.EnquiryDateV1 | date:'dd-MMM-yyyy' }}</td>
          <td class="text-nowrap">{{ item.EnquiryCurrentStatus }}</td>

          <!--Booking-->
          <td class="text-nowrap" *ngIf="activeLead === 'Booking'">
            <span *ngIf="item.EnquiryCurrentStatus === 'Booking'">
              {{ item.bookingDate | date:'dd-MMM-yyyy' }}
            </span>
          </td>
          <td class="text-nowrap" *ngIf="activeLead === 'Booking'">
            <span *ngIf="item.EnquiryCurrentStatus === 'Booking'">
              {{ item.bookingAmount? item.bookingAmount : '' }}
            </span>
          </td>

          <!-- Salesman -->
          <td class="text-nowrap">{{ item.SalesmanName ? item.SalesmanName : 'VACANT' }}</td>
          <td class="text-nowrap">{{ item.SalesmanNumber ? item.SalesmanNumber : 'VACANT' }}</td>

          <!-- Follow-up -->
          <td class="text-nowrap" *ngIf="activeLead !== 'Delivered' && activeLead !== 'CompetitionLost' && activeLead !== 'Cancelled'">{{ item.NextFollowupDatev1 | date:'dd-MMM-yyyy' }}</td>
          <td class="text-nowrap" *ngIf="activeLead !== 'Delivered' && activeLead !== 'CompetitionLost' && activeLead !== 'Cancelled'">{{ item.CalledStatus }}</td>
          <td class="text-nowrap" *ngIf="activeLead !== 'Delivered' && activeLead !== 'CompetitionLost' && activeLead !== 'Cancelled'">{{ item.Remark }}</td>

          <!-- Delivery -->
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.DateOfSale | date:'dd-MMM-yyyy' }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.ProspectType }}</td>

          <!-- Exchange -->
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.ExchangeMake ? item.ExchangeMake : '-'  }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.ExchangeModel ? item.ExchangeModel : '-' }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.ExchangeMfgYear ? item.ExchangeMfgYear : '-' }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.CustomerAskExchTracAmt }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.MktExchTracAmt}}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.Deal_ExchTracAmt }}</td>

          <!-- Finance -->
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.FinancerName ? item.FinancerName : '-' }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.FinanceStatus ? item.FinanceStatus : '-' }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.PaymentType }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.FinalSellingPrice }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.DPAmount }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.dueAmount }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.LoanAmount }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.DisburseAmount || 0}}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.AdditionalAmount || 0}}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.LoanType ? item.LoanType : '-' }}</td>

          <td class="text-nowrap" *ngIf="activeLead === 'CompetitionLost'">{{ item.saleLostReason }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Cancelled'">{{ item.closedDroppedStatus }}</td>

          <!-- Retail -->
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.RetailedDate  | date:'dd-MMM-yyyy' }}</td>
          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">
            {{ item.RetailStatus }}
          </td>

          <td class="text-nowrap" *ngIf="activeLead === 'Delivered'">{{ item.ReturnStatus }}</td>
          <!-- Interest -->
          <td class="text-nowrap">{{ item.InterestedModel }}</td>
          <td class="text-nowrap">{{ item.ChassisNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination [totalItems]="totalItems"
                  [pageSize]="itemsPerPage"
                  [currentPage]="currentPage"
                  (pageChange)="onPageChange($event)">
  </app-pagination>

</div>
